/* Navigation
------------------------------ */


.nav-primary .navigation-pulldown {
   font-weight: bold;
}

/* drop down menu formatting when all menu items won't fit in a single line */
.nav-menu .nav-primary {
   margin: 0px 0em 0em;/*margin: 45px 0em 0em;*/
   position: relative;
   overflow: hidden;
   clear: both;
   display: block !important;
   z-index: 10;
}





/* arrow down */
.nav-menu .nav-primary span.nav-section {
   position: absolute;
   top: 0.8em;
   left: auto;
   right: 0.3em;
   display: block;
   width: 4em;
   height: 4.5em; 
   cursor: pointer;
}

.nav-menu .nav-primary li {
   clear: left;
   display: none !important;
}    
.nav-menu .nav-primary.expanded li,
.nav-menu .nav-primary li.navigation-pulldown {
   display: inline-block;

} 
.nav-menu .nav-primary li.navigation-pulldown {
   border-bottom-width: 0;
}
.nav-menu .nav-primary.expanded li.navigation-pulldown {
   border-bottom-width: 1px;
}

button.navigation-button {
    width: 28%; 
    font-family: 'open_sansbold', 'Helvetica Neue', Arial, sans-serif !important;
    font-size: 1em; 
    border: 1px solid #062946;
    background-color: #94C01C;
    color: #FFFFFF;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 16px 4% 0px;
    height: 34px;
    text-transform: uppercase;
 }

div.expanded button.navigation-button {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    -moz-border-bottom-left-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;  
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; 
      
}


.nav-menu .nav-primary #portal-globalnav li:last-child, .nav-menu .nav-primary #portal-globalnav li:last-child a,
.nav-menu .nav-primary #portal-megamenu li:last-child, .nav-menu .nav-primary #portal-megamenu li:last-child a {

}


    
.nav-primary li a:hover {
    width: auto !important;
}

.nav-menu .nav-primary.expanded #portal-globalnav li, .nav-menu .nav-primary.expanded #portal-megamenu li {
    display: list-item !important;
    background-color: #062946;
    width: 98%;
    margin: 0 1% !important;
    }


